@import "../../../../variables";

.modal {
  &__header {
    padding: 12px;
    background-color: $b500;
    color: $text-accent;
    font-family: $font-family;
  }
  &__content {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 999;
    box-shadow: $cardShadow;

    @media screen and (max-width: 320px) {
      width: 100%;
      height: 100%;
    }
  }
  &__body {
    padding: 12px;

    @media screen and (max-width: 320px) {
      padding: 0;
    }
  }
  &__backdrop {
    background-color: $b900;
    opacity: 0.25;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
