@import "../../variables";

.wish-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wish {
  margin: 16px;
  &__drag {
    opacity: 0.5;
    &-over {
      opacity: 0.5;
    }
  }

  &__description {
    padding: 16px;
    border: 2px solid $cacao;
    border-radius: 4px;
    font-size: 2rem;
    color: $coffee;
    text-decoration: none;
    &:hover {
      background-color: $cacao;
      color: $milk;
      transition: all ease-out 200ms;
      cursor: pointer;
    }
  }
}

.no-data {
  text-align: center;
  font-weight: bold;
  padding: 40px;
  background-color: $cappuccino;
  color: $milk;
  border-radius: 4px;
  box-shadow: $cardShadow;

  span {
    display: block;
    margin-top: 8px;
    font-size: smaller;
  }
}
