<mat-sidenav-container class="drawer-container" hasBackdrop>
  <mat-sidenav #drawer class="drawer-sidenav" mode="side">
    <nav>
      <a mat-button class="menu-link" routerLink="/wish" (click)="drawer.close()">Wishes</a>
      <a mat-button class="menu-link" routerLink="/friends" (click)="drawer.close()">Friends</a>
      <a mat-button class="menu-link" routerLink="/notifications" (click)="drawer.close()">Notifications</a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <app-header (toggleSideNav)="drawer.toggle()"></app-header>
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
