@import './variables';
@import './typography';

*, *::after, *::before, input {
  font-family: $font-family;
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.inspiration {
  font-size: 12px;
}

.main {
}

