@import './variables';
@import './typography';

*, input {
  font-family: $font-family;
  box-sizing: content-box;
}

.title {
  color: $b900;
  text-align: center;
}

.inspiration {
  font-size: 12px;
}

