@import './variables';

*, input {
  font-family: $font-family;
  box-sizing: content-box;
}

.title {
  color: $b900;
  text-align: center;
}

.inspiration {
  font-size: 12px;
}

main {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
