$silver: #eaeff7;
$milk: #faf6f0;
$cappuccino: #c2a693;
$cacao: #604a36;
$coffee: #301701;
$green: #00C9AB;

$b500: #795548;
$b50: #EFEBE9;
$b100: #D7CCC8;
$b200: #BCAAA4;
$b300: #A1887F;
$b400: #8D6E63;
$b500: #795548;
$b600: #6D4C41;
$b700: #5D4037;
$b800: #4E342E;
$b900: #3E2723;

$a100: #a255ff;
$a200: #651fff;
$a300: #0100ca;

$text-accent: white;
$text-main: black;

$font-family: 'Verdana', sans-serif;

$cardShadow: 4px 4px 14px -2px $b900;
$hoveredCardShadow: 6px 6px 32px -8px $b900;


