$silver: #eaeff7;
$milk: #faf6f0;
$cappuccino: #c2a693;
$cacao: #604a36;
$coffee: #301701;
$green: #00C9AB;

$b500: #795548;
$b50: #EFEBE9;
$b100: #D7CCC8;
$b200: #BCAAA4;
$b300: #A1887F;
$b400: #8D6E63;
$b500: #795548;
$b600: #6D4C41;
$b700: #5D4037;
$b800: #4E342E;
$b900: #3E2723;

$a100: #a255ff;
$a200: #651fff;
$a300: #0100ca;

$text-accent: white;
$text-main: black;

$cardShadow: 4px 4px 14px -2px $b900;
$hoveredCardShadow: 6px 6px 32px -8px $b900;

@mixin cardShadow() {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

@mixin buttonHollow($color: $a100) {
  border: none;
  width: 80px;
  padding: 8px;
  background-color: $color;
  color: $text-accent;
  text-transform: uppercase;
  border-radius: 4px;
  @include cardShadow();

  &:hover {
    cursor: pointer;
  }
}


