@import '../../../../variables';

.message {
  display: inline-block;
  width: 350px;
  padding: 24px;
  margin-top: 24px;
  border-radius: 4px;
  position: relative;
  background-color: $b400;
  box-shadow: $cardShadow;
  &__title {
    margin-top: 4px;
    color: $b900;
    line-height: 40px;
  }

  &__body {
    margin-bottom: 24px;
  }

  &__close {
    position: absolute;
    right: 4px;
    top: 4px;
    border: none;
    background-color: transparent;
    font-size: xx-large;
    cursor: pointer;
  }
}
