<div [formGroup]="form">
  <mat-form-field
    [ngSwitch]="field.controlType"
  >
    <input
      matInput
      *ngSwitchCase="'textbox' || 'password'"
      [formControlName]="field.name"
      [id]="field.id"
      [name]="field.name"
      [type]="asTextBox(field).type"
      [placeholder]="asTextBox(field).placeholder"
      [minlength]="asTextBox(field).minlength"
      [maxlength]="asTextBox(field).maxlength"
      [value]="field.value"
      class="dynamic-form__input"
    >
    <input
      *ngSwitchCase="'file'"
      [formControlName]="field.name"
      [name]="field.name"
      type="file"
      class="dynamic-form__file-input"
    />
    <select
      *ngSwitchCase="'dropdown'"
      [id]="field.key"
      [formControlName]="field.key"
      class="dynamic-form__select"
    >
      <option *ngFor="let opt of asDropDown(field).options"
              [value]="opt.key">{{opt.value}}</option>
    </select>
    <mat-chip-list
      *ngSwitchCase="'tags-editor'"
      class="tags-editor"
      #tags
    >
      <mat-chip
        *ngFor="let tag of field.value"
        [selectable]="field.selectable"
        [removable]="field.removable"
        (removed)="field.remove(tag)"
      >
        {{tag}}
        <mat-icon
          matChipRemove
          *ngIf="field.removable"
        >
          cancel
        </mat-icon>
      </mat-chip>
      <input placeholder="New tag..."
             [matChipInputFor]="tags"
             [matChipInputSeparatorKeyCodes]="field.separatorKeyCodes"
             [matChipInputAddOnBlur]="field.addOnBlur"
             (matChipInputTokenEnd)="field.add($event)">
    </mat-chip-list>
    <mat-error *ngIf="!isValid">
      {{field.name}} is required
    </mat-error>
  </mat-form-field>
</div>
