<mat-list-item>
  <a
    class="person__link"
    matLine
    [routerLink]="['/user', friend.userId]">
    <img matListAvatar class="person__full-name" [src]="getAvatarPath()" alt="Avatar">
    <span class="person__full-name">{{friend.firstName}} {{friend.lastName}}</span>
  </a>
  <button
    mat-raised-button
    class="person__follow-button"
    *ngIf="canFollow(friend.userId)"
    (click)="follow.emit({ userId: profile.userId, friendId: friend.userId })">
    Follow
  </button>
  <mat-divider></mat-divider>
</mat-list-item>
