@import "../../../variables";
.wishes {
  position: relative;
  height: 100%;
}

.wish-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.wish {
  margin: 12px;
  max-width: 100%;
  &__drag {
    opacity: 0.5;
    &-over {
      opacity: 0.5;
    }
    &, &-over, &-transit, &-handle {
      border: none;
    }
  }

  &__description {
    text-decoration: none;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.no-data {
  text-align: center;
  font-weight: bold;
  padding: 40px;
  background-color: $b400;
  color: white;
  border-radius: 4px;
  box-shadow: $cardShadow;

  span {
    display: block;
    margin-top: 8px;
    font-size: smaller;
  }
}

$round-button-size: 48px;

.add-wish {
  position: absolute;
  display: inline-block;
  right: 12px;
  bottom: 12px;
  font-size: 1.8rem;
}
