<app-home *ngIf="list.length === 0"></app-home>
<div class="wishes" *ngIf="list.length > 0">
  <ul
    class="wish-list"
  >
    <li
      class="wish"
      *ngFor="let wish of list;let i = index"
      draggable="true"
      droppable
      [dragData]="wish"
      (onDrop)="onDrop($event, i)"
      dragClass="wish__drag"
      dragOverClass="wish__drag-over"
      dragTransitClass="wish__drag-transit"
      dragHandleClass="wish__drag-handle"
    >
      <a
        [routerLink]="['/wish', wish._id]"
        class="wish__description"
      >
        <mat-card class="wish">
          <mat-card-content class="wish__description">
            {{wish.description}}
          </mat-card-content>
        </mat-card>
      </a>
    </li>
  </ul>

  <div class="no-data" *ngIf="!list">
    You haven't got any wishes yet :(
    <span>Go and add some!</span>
  </div>

  <button mat-mini-fab  color="accent" routerLink="/wish/add" class="add-wish">+</button>
</div>



