@import "../../../variables";

.wish-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wish {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px;
  padding: 16px;
  border: 2px solid $b500;
  &:hover {
    background-color: $b500;
    transition: all ease-out 200ms;
    cursor: pointer;
    & .wish__description {
      color: white;
    }
  }
  &__drag {
    opacity: 0.5;
    &-over {
      opacity: 0.5;
    }
  }

  &__description {
    border-radius: 4px;
    font-size: 2rem;
    color: $b900;
    text-decoration: none;
  }
}

.no-data {
  text-align: center;
  font-weight: bold;
  padding: 40px;
  background-color: $b400;
  color: white;
  border-radius: 4px;
  box-shadow: $cardShadow;

  span {
    display: block;
    margin-top: 8px;
    font-size: smaller;
  }
}

$round-button-size: 48px;

.add-wish {
  position: fixed;
  display: inline-block;
  width: $round-button-size;
  height: $round-button-size;
  line-height: $round-button-size;
  right: $round-button-size;
  bottom: $round-button-size;
  border-radius: $round-button-size;
  background-color: $a100;
  color: $text-accent;
  font-size: $round-button-size / 1.5;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  @include cardShadow();
}
