<app-home *ngIf="!list"></app-home>
<div
  cdkDropList
  class="wish-list"
  *ngIf="list.length > 0"
  (cdkDropListDropped)="drop($event)"
>
  <div
    cdkDrag
    class="wish-container"
    *ngFor="let wish of list"
  >
    <app-wish [wish]="wish"></app-wish>
  </div>
  <div class="no-data" *ngIf="list.length === 0">
    You haven't got any wishes yet :(
    <span>Go and add some!</span>
  </div>

  <button
    mat-mini-fab
    color="accent"
    routerLink="/wish/add"
    class="add-wish"
  >
    +
  </button>
</div>
