<mat-toolbar color="primary" class="header">
  <header class="header">
      <span class="header__menu-button">
        <app-icon name="menu" (click)="onSideNavToggle()"></app-icon>
      </span>
      <span class="header__logo">
            <h1>WishList</h1>
      </span>
    <div class="header__login-button" [ngSwitch]="auth.isLoggedIn">
      <app-profile-menu *ngSwitchCase="true" (logout)="logout()" [user]="user"></app-profile-menu>
      <button *ngSwitchCase="false" mat-raised-button color="accent" routerLink="/login">
        Login
      </button>
    </div>
  </header>
</mat-toolbar>
